.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
  width: 90%;
  margin: 0 auto;
}
.post-card {
  background-color: rgb(157, 186, 214);
  text-align: center;
  border-radius: 8px;
}
