.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
  width: 90%;
  margin: 0 auto;
}
.comment-card {
  background-color: rgb(205, 204, 239);
  text-align: center;
  border-radius: 8px;
}
